<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testautocamel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9f92572d-c29c-493b-a099-daf11f160b2e/resourceGroups/autocamel/providers/Microsoft.Web/sites/testAutoCamel</ResourceId>
    <UserName>$testAutoCamel</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testautocamel.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>